#icon {
    height: 62px;
}

body {
    margin: 0%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(22, 138, 99);
    color: rgb(230, 230, 190);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#notícia {
    display: flex;
    background-color: rgb(206, 235, 213);
    margin: 40px; 
}

.notícias {
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(99, 196, 139);
    padding: 5px;
    margin: 10px;
    text-align: center;
}

.img_noticia {
    height: 150px;
}

#jogadores {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(206, 235, 213);
    margin: 40px;
    gap: 20px;
    justify-content: center;
}

.img_jogadores {
    width: 200px;  
    height: 150px; 
    object-fit: cover;
    flex-wrap: wrap;
    
}

.jogadores {
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(99, 196, 139);
    padding: 5px;
    margin: 10px;
    text-align: center;
}

footer {
    background-color: rgb(22, 138, 99);
    padding: 10px;
    text-align: center;
    color: rgb(230, 230, 190);
    font-family: 'Times New Roman', Times, serif;
}